# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE
.vscode
.prettierignore

# Compiled files
sampleClient
sampleServer

# Markdown outputs
README.jpeg
README.pdf

# System files
.DS_Store

# Process file outputs
keygen
enc_server
dec_server
enc_client
dec_client

# Testoutput files
mykey
encryptedText
decryptedText
fileSizeTemp*
ciphertext1*
key20
key70000
